html {
  margin: 10px;
}

body {
  margin: 0;
  color: white !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: georgia;
}

li a.active {
  background-color: #5fa8ed;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.bg-pink {
  
  background-color: #fc8da3;
}
.offcanvas-title {
  color: rgb(37, 37, 37);
}
